i{
  font-size: 50px;
}
li{
  list-style-type: none;
  font-size: 50px;
}
li a span{
  color:black;
  font-size: 30px;
}
.panel{
  background-color: black;
}
.panel .panel-heading .username{
  color:white;
}
a{
  color:black;
}
body{
  overflow-x: hidden;
}
.row .panel{
  box-shadow: 5px 10px;
}
.nav{
  position: fixed;
}
