{% load bootstrap3 %}
{%load crispy_forms_tags%}
{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {%block styles%}
    {%bootstrap_css%}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    {%endblock%}
    <title></title>
  </head>
  <body>
    <div class="nav navbar light">
      <nav>
        <a style="color:black;" class="navbar-brand" href="/home"><span class="glyphicon glyphicon-camera">| CloneGram</span></a>
        <a style="color:black;" class="navbar-brand" href="/profile"><span class="glyphicon glyphicon-user">User</span></a>
        <a style="color:black;" class="navbar-brand" href="#"><span class="glyphicon glyphicon-heart">Likes</span> </a>
        <div class="col-sm-4 col-md-4 navbar-right">

          <form class="navbar-form" role="search" action="">

            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search by Category or Locatiion" name="article">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i style="font-size:16px;" class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>

          </form>
        </div>

    </div>
    {%block content%}
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ p_form.as_p }}
        {{ u_form.as_p }}
        <button type="submit">Upload</button>
      </form>
    {%endblock%}
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {%endblock%}
  </body>
</html>
