{% load static%}
{%load bootstrap3%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%block styles%}
    {%bootstrap_css%}
    <link rel="stylesheet" href="{% static 'css/gram.css' %}">
    {%endblock%}
    <title>CloneGram</title>
  </head>
  <body>
    {%block content%}
    <div class="nav navbar light">
      <nav>
        <ul>
          <li align="center"><a class="navbar-brand" href="#"><span class="glyphicon glyphicon-camera">CloneGram</span> </a></li>
            <li style="float:right;"><a class="navbar-brand" href="#"><span class="glyphicon glyphicon-user">User</span></a></li>
            <li style="float:right;"><a  class="navbar-brand" href="#"><span class="glyphicon glyphicon-heart">Likes</span> </a> </li>

        </ul>

      </nav>
      <br>
      <br>
      <br>
      <br>
    <div class="row" style="display:flex;justify-content:space-evenly">
      <div class="col-md-5">
        <div class="panel">
          <div class="panel-heading">
            <p style="color:white;">Tuitoek</p>
          </div>
          <div class="panel-body">
            <img src="https://images.unsplash.com/photo-1472393365320-db77a5abbecc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
          </div>
          <div class="panel-footer" style="display:flex;justify-content:space-evenly;">
            <p>Comments</p>
            <i style="font-size:15px;" class="glyphicon glyphicon-heart-empty"></i>
            <i  style="font-size:15px;" class="glyphicon glyphicon-bookmark"></i>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {%endblock%}

  </body>
</html>
