<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>CloneGram</title>
</head>

<body>
  <h1 align="center">CloneGram</h1>
  <div class="row" style="display:flex;justify-content:space-evenly">
    <div class="col-md-12">
      <img src="https://images.unsplash.com/photo-1530467212787-ae644315e6bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
    </div>
    <div class="col-md-7">
      <div class="page" align="center">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container" style="display:flex;justify-content;center;">
          <hr style="width:10px;color:black;">
          <h1 align="center">CloneGram</h1>
          <hr style="width:10px;color:black;">

        </div>
        <br>
        <br>
        <br>
        <h3 align="center"><a href="accounts/register">Sign Up</a> with Email Adress or Phone Number</h3>

        <hr>
        <h3 align="center">Already have an account <a href="accounts/login">login</a></h3>

      </div>

    </div>
<br>
<br>
  </div>
  <br>
  <br>
  <div class="images" align="center">
    <img src="https://images.unsplash.com/photo-1550033911-0a9ec1e16f14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" height=500px>
    <img src="https://images.unsplash.com/photo-1524253482453-3fed8d2fe12b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" height=500px>
    <img src="https://images.unsplash.com/photo-1548809685-e3831a2aaa5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" height=500px>
    <img src="https://images.unsplash.com/photo-1549981832-2ba2ee913334?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" height=500px width=333px>
    <img src="https://images.unsplash.com/photo-1547978632-0cd0b0f64870?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" height=500px>
    <img src="https://images.unsplash.com/photo-1547554252-91a8ad262da3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" height=500px>
    <img src="https://images.unsplash.com/photo-1507062916289-6af3d3e05386?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" height="500px" width=333px>
    <img src="https://images.unsplash.com/photo-1551531221-534d9f3f1c44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" height="500px" width=333px>
    <img src="https://images.unsplash.com/photo-1549627717-cf4a2c049d65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" height=500px width=333px>
  </div>


</body>

</html>
