{% load bootstrap3 %}
{%load crispy_forms_tags%}
{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%block styles%}
  {%bootstrap_css%}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  {%endblock%}
  <title>CloneGram</title>
</head>

<body>
  {%block content%}
  <div class="nav navbar light">
    <nav>
      <a style="color:black;" class="navbar-brand" href="/home"><span class="glyphicon glyphicon-camera">| CloneGram</span></a>
      <a style="color:black;" class="navbar-brand" href="/profile"><span class="glyphicon glyphicon-user">User</span></a>
      <a style="color:black;" class="navbar-brand" href="#"><span class="glyphicon glyphicon-heart">Likes</span> </a>
      <div class="col-sm-4 col-md-4 navbar-right">

        <form class="navbar-form" role="search" action="">

          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search by Category or Locatiion" name="article">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i style="font-size:16px;" class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>

        </form>
      </div>

  </div>
  <br>
  <div class="row">
    <div class="col-md-6" style="padding:20px;" align="center">
      <img style="border-radius:70%;" src="{{user.profile.dpicture.url}}" height=200px width=200px>
      <p> Bio :{{user.profile.bio}}</p>
      <p>@{{user.username}}</p>
      <p>{{user.bio}}</p>
      <div class="show" style="display:inline-block;">
        <p>{{img.count}}<br>Posts</p>
        <p>{{followers}}0<br>Followers </p>
        <p>{{following}}0<br>Following </p>
      </div>
    </div>

    <div class="form-group">
      <a href="/edit">Edit profile</a>
    </div>

    <hr style="color:black;">
    <h3>Posts</h3>
    <div class="container" align="center">
      <div class="row" align="center">
        <div class="col-md-5" align="center">
          {% for imgx in img %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <div style="display:flex;justify-content:flex-start;">
                <img style="border-radius:70%;" src="{{user.profile.dpicture.url}}" height=30px width=30px>
                <p style="color:black;"> @{{user.username}}</p>
              </div>
            </div>
            <div class="panel-body">
              <img src="{{imgx.image_path.url}}" alt="" width="300" height="300">
            </div>
            <p style="float:left;">Caption:{{imgx.image_caption}}</p>
            <br>
            <div style="display:flex;justify-content:space-evenly;">
              <p>Comments {{imgx.comments}}</p>
              <form method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <fieldset class="form-group">
                  {{comment_form.as_p}}
                </fieldset>
                <div class="form-group">
                  <button type="submit" class="btn btn-outline-info" name="button">Post Comment</button>
                </div>

              </form>

              <i style="font-size:15px;" class="glyphicon glyphicon-heart-empty"><br>{{imgx.likes}}likes</i>
              <i style="font-size:15px;" class="glyphicon glyphicon-bookmark"></i>
            </div>
          </div>

          {% endfor %}
        </div>

      </div>

    </div>

    {%endblock%}
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {%endblock%}

</body>

</html>
