{%extends 'base.html'%}
{% block content %}
<div class="container">

  <div class="row">
    {% if users%}
      <h2>Found {{ users|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 users for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if users %}
    {% for users in images_item%}
      <div class="col-sm-6 col-md-3">
          <h1>{{users.username}}</h1>
          <img src="{{images_item.image_path.url}}" alt="">
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
